@use '../custom' as *;

.card-img {
  height: 770px;
  background: linear-gradient(
      0deg,
      rgba($blue-light, 0.6) 0%,
      rgba($primary, 0.8) 100%
    ),
    url(/images/bg-card--1.jpg);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  // -webkit-transform: scaleX(-1);
  // transform: scaleX(-1);
}
.card-body {
  text-shadow: 2px 2px 6px $gray-900;
}
