@use '../custom' as *;

.today-highlights {
  &__cards > * {
    background-color: transparent;
    box-shadow: $box-shadow;
    border: 1px solid rgba($white, 0.3);
    color: $white;
    transition: all 0.3s ease-in-out;

    &:hover {
      border: 1px solid rgba($white, 0.8);
    }
  }
  .field-name {
    color: $gray-300;
  }

  .bi-wind,
  .bi-moisture,
  .bi-eye-fill,
  .bi-speedometer {
    font-size: 1.5rem;
    color: $gray-500;
    text-shadow: none;
  }
}
