@use '../custom' as *;
body {
  padding: 3rem 0 5rem 0;
  background-color: $secondary;
  background: linear-gradient(
      0deg,
      rgba($secondary, 0.95) 0%,
      rgba($secondary, 0.95) 50%,
      rgba($primary, 0.9) 100%
    ),
    url(/images/bg-app.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}
h2 {
  letter-spacing: 1px;
}
.bi-brightness-high-fill,
.bi-sunrise-fill,
.bi-sunset-fill {
  color: $yellow;
}
.bi-cloud-moon-fill,
.bi-cloud-rain-fill {
  color: $gray-400;
}
